* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

footer {
  position: absolute;
  bottom: 0.5vh;
  left: 0.5vw;
}

.container {
  height: 500px;
  width: 500px;
  margin: auto;
}

.gameboard {
  display: grid;
  width: 300px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}
.cell {
  border: 1px solid black;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
}
