* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

footer {
  position: absolute;
  bottom: 0.5vh;
  left: 0.5vw;
}

.container {
  height: 500px;
  width: 500px;
  margin: auto;
}

.gameboard {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.grid-item {
  border: 1px solid black;
  padding: 10px;
}
